@-webkit-keyframes dots1{
    0%{
        opacity:0.1;
}
100%{
    opacity: 1;
}
}
@-webkit-keyframes dots2{
    0%{
        opacity:1;
}
100%{
    opacity: 0.1;
}
}
.dots>*{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.dots>*{
    position: relative;
    width: 0.4em;
    height: 0.4em;
    background: rgba(0,0,0,0.8);
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius:0.2em;
    -moz-border-radius:0.2em;
    margin: 0 0.1em;
    vertical-align:middle;
    overflow: hidden;
    text-align: left;
    text-indent: -9000px;
    opacity: 0.1;
}
.dots>*,.dots>*+*{
    -webkit-transition-property:opacity;
    -webkit-animation-duration:1s;
    -webkit-animation-name:dots1;
    -webkit-animation-direction:alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.dots>*+*{
    opacity: 1;
    -webkit-animation-name:dots2;
}
