@import url("sp://import/css/eve.css");
@import url("sp://import/css/api.css");

body {
	min-height: 100%;
	box-sizing: border-box;
	background-image: url(../img/view-bg-tile-dark.png); background-repeat: repeat;
}

header {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #255a00), color-stop(1, #7eab00));
	-webkit-box-shadow: 0px 0px 4px #000;
	height:60px;
}

header {
	text-align:center;
}

header .header-logo {
	padding-top:5px;
	margin-left: auto;
	margin-right: auto;
	width: 143px;
}

header h1 {
	color:#FFF;
	font-size:24px;
	text-shadow: -1px -1px 1px #43670d;
	padding-top:15px;
	padding-right:6px;
	float:left;
}

header img {
	height:50px;
	float:left;
}

.wrapper {
}

.form {
	position:fixed; top:50%;
    left:50%;
    width:515px;
    height:250px;
    margin-left:-275px;
    margin-top:-100px;
}

.form .logo {
	float:left;
	padding-right:50px;
}

.form .logo .connection {
	text-align:center;
	color: #666;
	text-shadow: 0 1px #000;
	margin-top:5px;
}

.form .fields
{
	padding-top:50px;
}

.form .submit {
	float:right;
	margin-top:10px;
}

.form .username-nudge {
	text-align: center;
	margin-top:50px;
	color: #666;
	text-shadow: 0 1px #000;
}

.form .username-prompt {
	cursor: pointer;
	color: #EEE;
	text-shadow: 0 1px #000;
	text-decoration: none;
	border-bottom:1px solid #303d0a;
}

label, input
{
	display: block;
}

input
{
	background: #FFF;
	border: 1px solid #7eab00;
	border-radius: 3px;
	color: #a7a8a8;
	padding: 10px;
	width: 280px;
}

input:focus
{
	color: #444;
}

input[type=submit]
{
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #255a00), color-stop(1, #7eab00));
	border-color: #618400;
	border-bottom-color: #255a00;
	color: #EEE;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	padding: 6px 20px;
	text-shadow: 0 1px #000;
	width: 302px;
}

input[type=submit]:active
{
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #155a00), color-stop(1, #618400));
	border-color: #235000;
	border-bottom-color: #365b2b;
	color: #EEE;
	text-shadow: 0 -1px #255a00;
}

#search-results h2 {
	margin:10px 0 5px;
	color: #999;
	font-weight:bold;
}
#search-results .sp-player {
	float:left;
	margin-right:10px;
	margin-left:10px;
}
#search-results .add-playlist {
	margin-top:10px;
	margin-left:9px;
}
#search-results .sp-list {
	width:inherit;
	max-height:inherit;
	margin-top:10px;
	margin-right:10px;
}

footer {

}